*{margin: 0;
 padding: 0;
 box-sizing: border-box;
text-decoration: none;
list-style-type: none;
   }

header{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Orbitron", sans-serif;
}
header div{ text-align: center;
 }
header h3{ font-size: 16px;
}
header nav ul{
    display: flex;
   gap: 20px;
}
header nav a{ color: dimgray;
font-size: 20px;}

main  {height: 90vh;
    background-color: #a10505;
display: flex;
justify-content: space-around;
align-items: center;
font-family: "Orbitron", sans-serif;)}