*{margin: 0; padding: 0; box-sizing: border-box;}

section{ height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    font-size: 20px;}

div a{color: black}

#red {background-color: #f85a5a
}

#blue {background-color: lightskyblue}
#green {background-color: lightgreen}