body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: #011143;
    border-right: 30px solid #0b76e1;
    border-left: 30px solid #b7c6fd;
    border-bottom: 30px solid #204af1;
    border-top: 30px solid #6676c1;
    animation: pre 8s  linear infinite alternate;
}

@keyframes pre {
    0% { transform: scale(0.5) rotate(180deg); }
    25% { transform: translateY(200px); }

    50% { border-radius: 80%; background-color: #ed03c6;
        border-right: 150px solid #2b0322;
        border-left: 150px solid #ec5dce;
        border-bottom: 150px solid #632c58;
        border-top: 150px solid #f62ccc;}
    75%  { transform: translateY(-200px); }
       100%{
        transform: scale(0.5)}
}
