
body{height: 100vh;}
.main {height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;}
.font{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;}
.Rubik{ font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;}
.Sedgwick{font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;}
.Dancing {font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}
.Fjalla{  font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;}
.Indie{ font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;}


